@charset "UTF-8";

/* section calendar */
.sec_cal {
	width: 500px;
	font-family: "NotoSansR";
}

.sec_cal .cal_nav {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 48px;
	line-height: 78px;
}

.sec_cal .cal_nav .year-month {
	width: 300px;
	text-align: center;
	line-height: 1;
}

.sec_cal .cal_nav .nav {
	display: flex;
	border: 1px solid #333333;
	border-radius: 5px;
}

.sec_cal .cal_nav .go-prev, .sec_cal .cal_nav .go-next {
	display: block;
	width: 50px;
	height: 78px;
	font-size: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec_cal .cal_nav .go-prev::before, .sec_cal .cal_nav .go-next::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border: 3px solid #000;
	border-width: 3px 3px 0 0;
	transition: border 0.1s;
}

.sec_cal .cal_nav .go-prev:hover::before, .sec_cal .cal_nav .go-next:hover::before
	{
	border-color: #ed2a61;
}

.sec_cal .cal_nav .go-prev::before {
	transform: rotate(-135deg);
}

.sec_cal .cal_nav .go-next::before {
	transform: rotate(45deg);
}

.sec_cal .cal_wrap {
	padding-top: 10px;
	position: relative;
	margin: 0 auto;
}

.sec_cal .cal_wrap .days {
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

.sec_cal .cal_wrap::after {
	top: 368px;
}

.sec_cal .cal_wrap .day {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100%/ 7);
	text-align: left;
	color: #636363;
	font-size: 12px;
	text-align: center;
	border-radius: 5px
}

.current.today {
	background: rgb(242, 242, 242);
}

.sec_cal .cal_wrap .dates {
	display: flex;
	flex-flow: wrap;
	height: 100%;
}

.sec_cal .cal_wrap .day:nth-child(7n) {
	color: #3c6ffa;
}

.sec_cal .cal_wrap .day:first-child {
	color: #ed2a61;
}

.sec_cal .cal_wrap .dates .day {
	background: none; 
	border: none; 
	color: #636363; 
	cursor: pointer;
	outline: 1px solid #e4e4e4;
	min-height: 70px;
}

.sec_cal .cal_wrap .dates .day button {
	background: none; 
	border: none; 
	color: #636363; 
	cursor: pointer;
	width: 100%;
	height: 100%;
}


.sec_cal .cal_wrap .dates .day .selectedDay {
	background: #016eac;
	outline-color: #005d93;
	color: #fff;
}

.sec_cal .cal_wrap .day.disable {
	color: #ddd;
	background: url("../image/pat_disable.png");
	background-color: #f6f6f9;
}

.sec_cal .marker_info {
	margin-top: 15px;
}

.sec_cal .marker_info .marker {
	margin-right: 15px;
	font-size: 13px;
}

.sec_cal .marker_info .marker:before {
	content: "";
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 3px;
	border: 1px solid #e4e4e4;
	vertical-align: middle;
}

.sec_cal .marker_info .marker.today:before {
	border: none;
	width: 8px;
	height: 8px;
	background: #e52601;
	border-radius: 8px;
}

.sec_cal .marker_info .marker.able:before {
	background: #fff;
	top: -1px;
}

.sec_cal .marker_info .marker.disable:before {
	background: url("../image/pat_disable.png");
	background-color: #f6f6f9;
	top: -1px;
}

.sec_cal .marker_info .marker.selected:before {
	background: #016eac;
	border-color: #005d93;
	top: -1px;
} /*선택*/
