<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						

<mapper namespace="reservationCalendar_mapper">
	
<select id="select_reservation_list" resultType="ReservationCalendarDto">
    SELECT TO_CHAR(dDate, 'YYYYMMDD') AS ddDate,
           rsvtTime
    FROM reservation_info
    WHERE status = '1'
</select>
	
</mapper>