<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
						

<mapper namespace="reservationCalendar_mapper">

	<insert id="insert_reservation" parameterType="ReservationCalendarDto">
    insert into reservation_info(rsvtNo, toDate, rsvtTime, rsrcId, totalPeopleCnt, status, category, rsvfNm, jidone, jidtwo, jidthree)
    values ( reservation_info_no_seq.nextval, #{toDate}, #{rsvtTime}, #{rsrcId}, 1, 1, #{category}, #{rsvfNm}, ' ', ' ', ' ' )
</insert>


<update id="update_reservation" parameterType="ReservationCalendarDto">
    UPDATE reservation_info
    SET totalPeopleCnt = #{totalPeopleCnt},
        status = #{status}
        <if test="jidone != null">
            , jidone = #{jidone}
        </if>
        <if test="jidtwo != null">
            , jidtwo = #{jidtwo}
        </if>
        <if test="jidthree != null">
            , jidthree = #{jidthree}
        </if>
    WHERE toDate = #{toDate}
    AND rsvtTime = #{rsvtTime}
    AND category = #{category} 
    AND rsvfNm = #{rsvfNm}
</update>

<delete id="delete_reservation" parameterType="ReservationCalendarDto">
    delete from reservation_info where rsvtNo = #{rsvtNo}
</delete>
<update id="delete_reservation2" parameterType="map">
    UPDATE reservation_info
    SET jidone = CASE WHEN jidone = #{loginId} THEN '' ELSE jidone END,
        jidtwo = CASE WHEN jidtwo = #{loginId} THEN '' ELSE jidtwo END,
        jidthree = CASE WHEN jidthree = #{loginId} THEN '' ELSE jidthree END,
        totalPeopleCnt = totalPeopleCnt - 1
    WHERE rsvtNo = #{rsvtNo} 
</update>



<select id="check_my_reservation_list" resultType="int">
    SELECT COUNT(*)      
    FROM reservation_info
    WHERE rsrcId = #{loginId}
</select>

<select id="check_my_reservation_list2" resultType="int">
    SELECT COUNT(*)      
    FROM reservation_info
    WHERE jidone = #{loginId}
    OR jidtwo = #{loginId}
    OR jidthree = #{loginId}
</select>


<select id="select_reservation_list" resultType="ReservationCalendarDto">
    SELECT rsvtNo,
           rsvtTime,
           rsrcId,
           status,
           totalPeopleCnt
    FROM reservation_info
    WHERE rsvfNm = #{rsvfNm} AND category = #{category} AND toDate = #{date}
</select>

<select id="select_my_reservation_list" resultType="ReservationCalendarDto">
    SELECT *      
    FROM reservation_info
    WHERE rsrcId = #{rsrcId}
    OR jidone = #{rsrcId}
    OR jidtwo = #{rsrcId}
    OR jidthree = #{rsrcId}
</select>

<select id="count_duplicate_id" resultType="java.lang.Integer">
    SELECT COUNT(*) 
    FROM reservation_info
    WHERE (rsrcId = #{loginId}
        OR jidone = #{loginId}
        OR jidtwo = #{loginId}
        OR jidthree = #{loginId})
        AND toDate = #{toDate}
        AND rsvfNm = #{rsvfNm}
</select>

	
</mapper>