<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board_mapper">

	<insert id="insert_contents" parameterType="BoardDto">
		insert into
		board_infos(title, content, writer,hashtag) values (#{title},
		#{content},#{writer} , #{hashtag})
	</insert>
	
	<insert id="insert_opinion_info" parameterType="HashMap">
		insert into board_opinions (postno, opinion_type, login_id) values (#{targetPostNo}, #{type}, #{sendUserId})
	</insert>


	<select id="list_contents" resultType="BoardDto">
		select
		postno,title,writer,
		updatedate,changedate,viewcnt,hashtag,recommend,report
		from board_infos
		ORDER BY updatedate DESC
	</select>

	<select id="list_view" resultType="BoardDto">
		select
		postno,title,writer,content,
		updatedate,changedate,viewCnt,hashtag,recommend,report
		from board_infos
		where postno=#{postno}
	</select>

	<select id="search_boardList_by_searchDto"
		parameterType="SearchDto" resultType="BoardDto">
		select
		postno, title, writer, updatedate, changedate, viewcnt
		from
		board_infos
		<choose>
			<when test="isChecked == 'on'">
					<if test='searchKeyword == "T"'>
						where title like '%'||#{searchTxt}||'%'
					</if>
					<if test='searchKeyword == "W"'>
						where writer like '%'||#{searchTxt}||'%'
					</if>
					<if test='searchKeyword == "TW"'>
						where title like '%'||#{searchTxt}||'%' OR writer like
						'%'||#{searchTxt}||'%'
					</if>
			</when>
			<otherwise>
					<if test='searchKeyword == "T"'>
						where LOWER(title) like '%'||LOWER(#{searchTxt})||'%'
					</if>
					<if test='searchKeyword == "W"'>
						where LOWER(writer) like '%'||LOWER(#{searchTxt})||'%'
					</if>
					<if test='searchKeyword == "TW"'>
						where LOWER(title) like '%'||LOWER(#{searchTxt})||'%' OR LOWER(writer) like
						'%'||#{searchTxt}||'%'
					</if>
			</otherwise>
		</choose>
	</select>
	
	<select id="pageCount" resultType="int">
		select count(*) from board_infos
	</select>
	
	<select id="searchedPageCount" parameterType="SearchDto" resultType="int">
		select count(*) from (
		select
		postno, title, writer, updatedate, changedate, viewcnt
		from
		board_infos
		<choose>
			<when test="isChecked == 'on'">
					<if test='searchKeyword == "T"'>
						where title like '%'||#{searchTxt}||'%'
					</if>
					<if test='searchKeyword == "W"'>
						where writer like '%'||#{searchTxt}||'%'
					</if>
					<if test='searchKeyword == "TW"'>
						where title like '%'||#{searchTxt}||'%' OR writer like
						'%'||#{searchTxt}||'%'
					</if>
			</when>
			<otherwise>
					<if test='searchKeyword == "T"'>
						where LOWER(title) like '%'||LOWER(#{searchTxt})||'%'
					</if>
					<if test='searchKeyword == "W"'>
						where LOWER(writer) like '%'||LOWER(#{searchTxt})||'%'
					</if>
					<if test='searchKeyword == "TW"'>
						where LOWER(title) like '%'||LOWER(#{searchTxt})||'%' OR LOWER(writer) like
						'%'||#{searchTxt}||'%'
					</if>
			</otherwise>
		</choose>
		)
	</select>
	

	<update id="list_count" parameterType="int">
		UPDATE board_infos SET
		viewcnt = viewcnt + 1 WHERE postno = #{postno}
	</update>
	
	<update id="update_board_infoCount" parameterType="HashMap">
		UPDATE board_infos SET
		<if test='type == "1"'>
			recommend = recommend + 1 
		</if>
		<if test='type == "2"'>
			report = report + 1
		</if>
		WHERE postno = #{targetPostNo}
	</update>

	<update id="list_update" parameterType="BoardDto">
		UPDATE board_infos
		SET
		TITLE = #{title},
		CONTENT = #{content},
		changedate = sysdate
		WHERE postno
		= #{postno}
	</update>
	
	<delete id="list_delete" parameterType="BoardDto">
	     DELETE
        FROM board_infos
        WHERE postno = #{postno}
	</delete>


 <!--   SELECT  r.replyNumber, r.replytext, r.replyUserID, r.recommend ,r.report,
       		r.changedate, r.updatedate    
      	FROM board_infos b
		JOIN reply r ON b.postno = r.postno
		WHERE b.postno = #{postno} -->



</mapper>
