<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->

<!-- int postno ; //댓글번호
	int replynumber; //게시물 번호
	String replytext ; //댓글내용
	 String replywriter; //댓글 작성자 id	
	 String replyname; //댓글 작성자 이름
	Date replyupdatedate;//댓글 작성자 이름
	Date replychangedate; //수정일자
	private String secretreply; //비밀댓글 여부
	 private String replyuserid; //member 테이블의 id

 -->
<mapper namespace="Reply_mapper">

     <insert id="insert_Reply">
        insert into reply (replynumber,replytext) values
        ( reply_seq.nextval,  #{replytext} )
    </insert>
    
	<insert id="Reply_insert_info" parameterType="HashMap">
		insert into reply (postno, login_id) values (#{likePostNo}, #{likeUserId})
	</insert>

    <select id="list_Reply" parameterType="int" resultType="ReplyDto">

        select replynumber,replytext ,updatedate,changedate,recommend,report
        from reply
        where postno = #{postno}
    
	</select>

<!--  <update id="Reply_insert_info" parameterType="HashMap" >
		UPDATE reply SET
		<if test='type == "1"'>
			recommend = recommend + 1 
		</if>
		<if test='type == "2"'>
			report = report + 1
		</if>
		WHERE postno = #{postno}
	</update>
    -->
    
<!--    
   	int postno ; //게시물 번호
	int replynumber; //댓글번호
	String replytext ; //댓글내용
	 String replywriter; //댓글 작성자 id	
	 String replyname; //댓글 작성자 이름
	Date replyupdatedate;//댓글 작성자 이름
	Date replychangedate; //수정일자
	private String secretreply; //비밀댓글 여부
	 private String replyuserid; //member 테이블의 id -->
	

</mapper>
