<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member_mapper">


	<select id="login" parameterType="MemberDto"
		resultType="MemberDto">
		select LOGIN_ID,PASSWORD,member_name from member
		where
		login_id=#{loginId} AND password=#{password}
	</select>




	<insert id="signup" parameterType="MemberDto">
		insert into Member
		values
		(member_no_seq.nextval, #{loginId} , #{password},
		#{memberName},#{birth},#{email}, #{phoneNum}, sysdate , #{userCode},
		0, 0 )
	</insert>


	<select id="id_check" parameterType="String" resultType="int">
		SELECT
		COUNT(*) FROM member WHERE login_id=#{loginId}
	</select>



   <select id="memberInfo" parameterType="String" resultType="MemberDto">
		SELECT LOGIN_ID,PASSWORD,MEMBER_NAME,EMAIL,PHONE_NUM
		FROM member WHERE login_id=#{loginId}
	</select>
   

	<update id="memberUpdate">
		UPDATE MEMBER SET
		PASSWORD = #{password},
		EMAIL=#{email},
		BIRTH=#{birth},
		MEMBER_NAME=#{memberName},
		PHONE_NUM=#{phoneNum}
		WHERE LOGIN_ID =#{loginId}
	</update>


</mapper>
