<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="VARCHAR" />
    	<setting name="callSettersOnNulls" value="true"/>
    	<setting name="returnInstanceForEmptyRow" value="true"/>
    </settings>

    <typeAliases>
		<typeAlias type="com.fc.dto.reservationCalendar.ReservationCalendarDto" alias="ReservationCalendarDto"/>
		<typeAlias type="com.fc.dto.board.BoardDto" alias="BoardDto"/>
		<typeAlias type="com.fc.dto.board.ReplyDto" alias="ReplyDto"/>
		<typeAlias type="com.fc.dto.facility.FacilityDto" alias="FacilityDto"/>
		<typeAlias type="com.fc.dto.facility.FcDetailDto" alias="FcDetailDto"/>
  	    <typeAlias type="com.fc.dto.member.MemberDto" alias="MemberDto"/> 
  	    
    </typeAliases>

</configuration>